<!--/******************************************
 *  Author : Harsh Jagdishbhai Kevadia   
 *  Created On : Sun Aug 27 2017
 *  File : customerLogin.handlebars
 *******************************************/-->
<!DOCTYPE html>

<head>
    <title>Customer Login </title>
</head>
<div id="login" class="animate form">
    <form action="/login2323" method="post" autocomplete="on">
        <h2>Customer Sign In</h2>
        <div id="boxes">
            <p>
                <label for="email" class="uname" data-icon="u"> E - Mail: </label>
                <input id="email" name="email" required="required" type="text" placeholder="E - mail" />
            </p>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
            </p>
        </div>
        <p class="button">
            <input type="submit" value="Sign In" />
        </p>
    </form>
</div>