<!DOCTYPE html>

<head>
    <title>Home Page </title>
</head>
<div id="login" class="animate form">
    <form class="login" action="/login" autocomplete="on">
        <h2>Log in</h2>
        <input type="radio" name="login" value="Customer" checked> Customer
        <input type="radio" name="login" value="Owner"> Salon Owner <br>
        <div id="boxes">
            <p>
                <label for="username" class="uname" data-icon="u"> Username </label>
                <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com" />
            </p>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> Password </label>
                <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
            </p>
        </div>
        <p class="keeplogin">
            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
            <label for="loginkeeping">Keep me logged in</label>
            <input type="submit" value="Login" />
        </p>
        <p class="change_link">
            Not a member yet ?
            <a href="#" class="to_register">Join us as Customer</a>
            <a href="#" class="to_register">Join us as Salon Owner</a>
        </p>
    </form>
</div>