<!DOCTYPE html>

<head>
    <title>Search Results </title>
</head>
<div id="search" class="animate form" style="margin:auto;">
    <div id="boxes">
        <h3>Search Salon</h3>
        <input id="searchText" type="text" placeholder="Salon Name" />
        <input type="submit" value="SEARCH" />
    </div>
</div>


<div id="results">
    <h1>Results</h1>
    <ul>
        <li><a href="#">Scisors and Razors</a>
            <ul>
                <li>Rating: 2.3</li>
                <li>Location: Hoboken</li>
            </ul>
        </li>
        <li><a href="#">Under the Dryer</a>
            <ul>
                <li>Rating: 2.3</li>
                <li>Location: Hoboken</li>
            </ul>
        </li>
        <li><a href="#">Color Me Crazy</a>
            <ul>
                <li>Rating: 2.3</li>
                <li>Location: Hoboken</li>
            </ul>
        </li>
    </ul>
</div>